body,
html {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family-sans-serif: Helvetica, Arial, system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-mono: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  scroll-behavior: smooth;
  /* background-color: black;
  color: white; */
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.avatar {
  max-width: 10%;
}

a {
  color: #3b82f6;
}
