main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hero {
    background-image: url(https://images.unsplash.com/photo-1638633898609-07028cc6d756?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero h1 {
    font-size: 60px;
    margin: -20px 0 20px;
    color: #111827;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #111827;
}

.about {
    margin-top: 100px;
}